/* Ensures elements size relative to viewport */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Use responsive units and media queries */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.App{
  min-height: 100vh;
  width: 100%;
  background: black;
}